html, body, #map-canvas { 
     height: 100%; 
     margin: 0; 
     padding: 0;
}

.theImg {
    margin: 10px;
    width: 16%;
}

.pretty {
    text-align:center;
}

.likes_pop {
    display: none;
} 

label {
    display: inline-block;
    width: 5em;
}

body {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 62.5%;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.spinner {
  width: 20px;
  height: 20px;
  margin: auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

 .wrap{
   position:relative;
   width:100%;
   height:auto;
   margin:auto;
   background:#666666;
   overflow:hidden;
 }
 .wrap:before {
   content:'';
   position:absolute;
   top:0;
   right:0;
   border-width:0 16px 16px 0;
   border-style:solid;
   border-color:#fff #fff #658E15 #658E15;
   background:#4E4E4E;
   -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   display:block;
   width:0;
 /* Firefox 3.0 damage limitation */ 
 }
 .wrap.rounded {
   -webkit-border-radius:0 0 0 0;
   -moz-border-radius:0 0 0 0;
   border-radius:0 0 0 0;
 }
 .wrap.rounded:before {
   border-width:8px;
   border-color: #EBEAE6 #EBEAE6 transparent transparent;
   -webkit-border-bottom-left-radius:5px;
   -moz-border-radius:0 0 0 5px;
   border-radius:0 0 0 5px;
 }
 h1{
   text-align: left;
   font-size: 12px;
   font-weight: bold;
   margin-top: 5px;
   margin-left: 3px;
   text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
 }
 .creditslink{
 text-decoration: none;
 color: #EAEAEA !important;
 }
 
 .sourcelink{
 text-decoration: none;
 color: #EAEAEA !important;
 text-align: right;
 font-style: italic;
 }
 .creditslink:hover{
 text-decoration: underline;
 color: #fff !important ;
 }
 